footer {
    position: relative;
    top: 70px;
    background-color: #232323;
}
/* Gift */
.footer-gift,.footer-main {
    border-bottom: 1px solid #303030;
}
.footer-gift {
    padding: 10px 0;
    color: #fff;
    background: #3D3D3D;
    letter-spacing: 0.8px;
    text-align: center;
}
.footer-gift i {
    margin-top: -4px;
    padding-right: 7px;
    color: #dc483b;
    font-size: 32px;
    vertical-align: middle;
}
.footer-gift li {
    display: inline-block;
    padding-right: 50px;
}
.footer-gift li:last-of-type {
    padding-right: 0;
}
/* Sitemap */
.footer-main {
    padding: 28px 0;
    background: #464646;
    background: -webkit-linear-gradient(#464646, #2B2B2B);
    background: -o-linear-gradient(#464646, #2B2B2B);
    background: -moz-linear-gradient(#464646, #2B2B2B);
    background: linear-gradient(#464646, #2B2B2B);
}
.footer-main h3 {
    margin-bottom: 15px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}
.sitemap li {
    padding-bottom: 5px;
}
.sitemap a {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.7px;
}
/* Sosial Media */
.social-footer {
    padding: 15px 0;
}
.social-footer li {
    display: inline-block;
    padding-right: 15px;
}
.social-footer a {
    color: #fff;
    padding: 5px;
}
/* Copyright */
.copyright {
    background: #2B2B2B;
}
.copyr {
    color: #AFAFA4;
    padding: 18px 0;
}
.copyright a {
    padding: 19px 0;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}
.copyright i {
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
/*
  Media Query
-------------------------------------*/
@media screen and (max-width: 1200px) {
    .sitemap .col-md-4 {
        margin-bottom: 20px;
    }
    .sitemap {
        display: none;
    }
    .sitemap, .social-footer {
        float: none !important;
        margin: 0 auto;
        text-align: center;
    }
}
@media screen and (max-width: 550px) {
    .footer-gift, .footer-main {
        border-bottom: none;
    }
    .footer-gift li {
        padding-right: 30px;
        font-size: 11px;
    }
    .footer-gift i {
        font-size: 20px;
    }
    .copyr, .back-top {
        float: none !important;
        text-align: center;
    }
    .copyr {
        padding: 0;
    }
    .back-top {
        display: block;
        padding: 10px 0;
    }
}
@media screen and (max-width: 420px) {
    .footer-gift li {
        padding-right: 10px;
        font-size: 8px;
    }
    .footer-gift i {
        font-size: 18px;
    }
    .footer-main h3 {
        font-size: 13px;
    }
    .sitemap a, .social-footer a {
        font-size: 11px;
    }
    .social-footer li {
        padding-right: 5px;
    }
}