@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Contents  :
  1: Footer Section
  
========================================================================== */

/*
  Footer
-------------------------------------*/
footer {
	padding: 30px 0;
	color: #FFF;
	text-align: center;
	background-color: #002A31;
}
/* --- Sosmed --- */
.sosmed {
	padding: 0;
	margin-bottom: 20px;
	li {
		display: inline-block;
		padding: 0 5px;
	}
	i {
		position: relative;
	    width: 130px;
	    height: 128px;
	    zoom: .4;
	    opacity: .6;
	    @include transition(.4s);
	    &:hover {
	    	opacity: 1;
	    }
	}
	.facebook {
		background-position: -7px 0px;
	}
	.twitter {
		background-position: -144px 0px;
	}
	.instagram {
		background-position: -283px 0px;
	}
	.youtube {
		background-position: -556px 0px;
	}
}