@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Contents  :
  1: Color Section
  
========================================================================== */

$color : #DE1F83;
$color2 : #5B8EB5;
$primary-bg : #D3A039;
$secondary-bg : #7D726E;
$background: #F4F4F4;