nav {
  &.nav-extended {
    height: auto;

    .nav-wrapper {
      min-height: 56px;
      height: auto;
    }

    .nav-content {
      position: relative;
      line-height: normal;
    }
  }

  color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: rgb(238, 110, 115);
  width: 100%;
  height: 56px;
  line-height: 56px;

  a { color: #fff; }

  i,
  [class^="mdi-"], [class*="mdi-"],
  i.material-icons {
    display: block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
  }

  .nav-wrapper {
    position: relative;
    height: 100%;
  }

  @media #{$large-and-up} {
    a.button-collapse { display: none; }
  }


  // Collapse button
  .button-collapse {
    float: left;
    position: relative;
    top: 15px;
    z-index: 1;
    height: 15px;
    margin: 0 18px;

    i {
      height: 56px;
      line-height: 56px;
    }
    @media #{$small-and-down} {
      top: 12px;
    }
  }


  // Logo
  .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;

    &.center {
      left: 50%;
      transform: translateX(-50%);
    }

    @media #{$medium-and-down} {
      left: 50%;
      transform: translateX(-50%);

      &.left, &.right {
        padding: 0;
        transform: none;
      }

      &.left { left: 0.5rem; }
      &.right {
        right: 0.5rem;
        left: auto;
      }
    }

    &.right {
      right: 0.5rem;
      padding: 0;
    }

    i,
    [class^="mdi-"], [class*="mdi-"],
    i.material-icons {
      float: left;
      margin-right: 15px;
    }
  }


  // Title
  .nav-title {
    display: inline-block;
    font-size: 32px;
    padding: 28px 0;
  }


  // Navbar Links
  ul {
    margin: 0;

    li {
      transition: background-color .3s;
      float: left;
      padding: 0;

      &.active {
        background-color: rgba(0,0,0,.1);
      }
    }
    a {
      transition: background-color .3s;
      font-size: 1rem;
      color: #fff;
      display: block;
      padding: 0 15px;
      cursor: pointer;

      &.btn, &.btn-large, &.btn-flat, &.btn-floating {
        margin-top: -2px;
        margin-left: 15px;
        margin-right: 15px;

        & > .material-icons {
          height: inherit;
          line-height: inherit;
        }
      }

      &:hover {
        background-color: rgba(0,0,0,.1);
      }
    }

    &.left {
      float: left;
    }
  }

  // Navbar Search Form
  form {
    height: 100%;
  }

  .input-field {
    margin: 0;
    height: 100%;

    input {
      height: 100%;
      font-size: 1.2rem;
      border: none;
      padding-left: 2rem;

      &:focus, &[type=text]:valid, &[type=password]:valid,
      &[type=email]:valid, &[type=url]:valid, &[type=date]:valid {
        border: none;
        box-shadow: none;
      }
    }

    label {
      top: 0;
      left: 0;

      i {
        color: rgba(255,255,255,.7);
        transition: color .3s;
      }
      &.active i { color: #fff; }
    }
  }
}

// Fixed Navbar
.navbar-fixed {
  position: relative;
  height: 56px;
  z-index: 997;

  nav {
    position: fixed;
  }
}
@media #{$medium-and-up} {
  nav.nav-extended .nav-wrapper {
    min-height: 64px;
  }
  nav, nav .nav-wrapper i {
    height: 64px;
    line-height: 64px;
  }
  .navbar-fixed {
    height: 64px;
  }
}
