.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 780px;
  margin-bottom: 20px;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.carousel.carousel-slider {
  top: 0;
  left: 0;
}

.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 1;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 68px;
}

.carousel.carousel-slider .carousel-item {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel.carousel-slider .carousel-item h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.carousel.carousel-slider .carousel-item p {
  font-size: 15px;
}

.carousel .carousel-item {
  visibility: hidden;
  width: 1000px;
  height: 780px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .carousel-item a > img {
  width: 100%;
}

.carousel .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.carousel .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 24px 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%;
}

.carousel .indicators .indicator-item.active {
  background-color: #fff;
}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}

.carousel-item {
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  &.active {
    .category, .title, .caption, .author {
      display: block;
    }
  }
  .category, .title, .caption, .author {
    display: none;
    @include transition(1s);
  }
  .category {
    width: 280px;
    background: #b70000;
    padding: 0.5em 1.42857142857143em;
    color: #fff;
    position: relative;
    margin: 10px auto 0;
    text-transform: uppercase;
    &:after {
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 10px;
      z-index: 2;
      content: "";
      background: transparent url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgdmlld0JveD0iMCAwIDIwIDEwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMCAxMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWdvbiBmaWxsPSIjQjcwMDAwIiBwb2ludHM9IjAsMCAxMCwxMCAyMCwwICIvPg0KPC9zdmc+) no-repeat center top;
      background-size: 100% 100%;
      box-shadow: 0 -1px 0 #b70000;
    }
  }
  .title {
    margin: 10px 0;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
  }
  .caption {
    color: #ACACAC;
    font-size: 18px;
  }
  .author {
    color: #EEEEEE;
    padding-top: 5px;
  }
}